
.chatForm{
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatForm input{
    width: 90%;
    padding: 10px 4px;
}

.chatForm button{
    width: 10%;
    padding: 10px 4px;
}

.message{
    max-width: 70%;
    width: fit-content;
    margin: 5px 3px;
    padding: 3px 6px;
    border-radius: 10px;
}
.sender { 
    margin-right: auto;
    background: #efefef;
}

.receiver  {
    margin-left: auto;
    background: purple;
    color: #fff;
}